@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,500,400italic,300,100');

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot?v=4.4.0');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),
         url('fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
         url('fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'),
         url('fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
         url('fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * @author Guichaguri
 */

body, html {
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    color: #333333;
    font-family: 'Roboto', Roboto, sans-serif;
    font-size: 110%;
    font-size: 1.1rem;
    height: 100%;
}

a {
    color: #30A8F9;
    text-decoration: none;
}
a:hover {
    color: #30A8F9;
    text-decoration: underline;
}

header {
    padding: 15px 0px;
    min-height: 100%;
    background: #f5f5f5 url('images/header.png') fixed;
    background-size: cover;
    box-sizing: border-box;
}

header div {
    margin: 0px auto 0px auto;
    width: 90%;
}

header #logo {
    display: block;
    font-size: 475%;
    font-size: 5.2rem;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', Roboto;
    color: #3a8dfe;
    background-image: -webkit-linear-gradient(92deg, #26c2f3, #3a8dfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 80vh;
}

footer {
    background: #f5f5f5 url('images/header.png') fixed;
    background-size: cover;
    padding: 25px;
    text-align: center;
    font-size: 0.75em;
    color: #555555;
}

nav {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 4.5em;
    background: rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}
nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
nav ul li {
    display: block;
    margin: 0px;
    text-align: center;
    visibility: visible;
    opacity: 1;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    transition-delay: .2s;
}
nav ul li a {
    line-height: 3em;
    width: 100%;
    font-size: 1.5em;
    font-family: 'FontAwesome';
    color: #444444;
    text-decoration: none;
    padding: 0.25em;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    display: block;
}
nav.hidden {
    background: transparent;
}
nav.hidden ul li {
    opacity: 0;
    visibility: collapse;
    transform: scale(1.25);
}
nav.hidden ul li#menu-button {
    opacity: 1;
    visibility: visible;
    transform: none;
}
nav ul li#scroll-button {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
nav ul li a span {
    display: block;
    visibility: collapse;
    position: absolute;
    top: 50%;
    left: 100%;
    font-family: 'Roboto', Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.25em;
    margin-left: 25px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.075);
    opacity: 0;
    transform: translate3d(-50%, -50%, 0);
    white-space: nowrap;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}
nav ul li a span:before {
    display: block;
    content: '';
    border: 20px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.075);
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
}
nav ul li a:hover {
    text-decoration: none;
}
nav ul li a:hover span {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, -50%, 0);
}


#content {
    width: 90%;
    margin: 0px auto 0px auto;
    text-align: center;
}
h2 {
    font-weight: 400;
}
.grid {
    display: block;
    box-sizing: border-box;
    width: 90%;
    padding: 0px;
    margin: 0 auto 0 auto;
}

.item {
    width: 350px;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
}
.item .item-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
}
.item .item-image a {
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: background .25s ease-in-out;
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    position: relative;
}
.item .item-image:hover a {
    background: rgba(38, 194, 243, 0.8);
}
.item .item-image a:before {
    font-family: 'FontAwesome', FontAwesome;
    font-size: 1.25em;
    content: '\f002';
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate3d(-50%, -100%, 0);
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}
.item .item-image a:hover:before {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
}
.item .item-text {
    background: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-top: 0px;
    padding: 15px 25px;
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: #888888;
}
.item .item-text .desc {
    height: 3rem;
    overflow: hidden;
}
.item .item-text a {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    color: #555555;
}
.item .item-text a:hover {
    color: #30A8F9;
    text-decoration: none;
}

.social-buttons a {
    display: inline-block;
    box-sizing: border-box;
    padding: 25px;
    color: #555555;
}
.social-buttons a:hover {
    color: #30A8F9;
    text-decoration: none;
}
.social-buttons a .icon {
    font-size: 50px;
    display: inline-block;
    padding: 10px;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    background: #555555;
    color: #ffffff;
    border-radius: 50%;
    margin-bottom: 20px;
}
.social-buttons a .social-text {
    font-size: 1em;
}
.social-buttons a:hover .icon {
    background: #30A8F9;
    color: #ffffff;
}

.icon {
    font-family: 'FontAwesome', FontAwesome;
}